{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block content %}

  <div class="w-full max-w-screen-md mx-auto px-4 py-2">
      <h2 class="mt-6 text-2xl font-extrabold text-center text-gray-700 dark:text-white">
          {% trans "Sign In" %}
      </h2>
      <p class="mt-6 text-center text-lg text-gray-700 dark:text-white">
        {% trans "Don't have an account yet?" %}
        <a href="{% url 'account_signup' %}" class="font-medium text-blue-700 hover:text-blue-500 ml-2">{% trans "Sign Up Now" %}</a>
      </p>
      <form class="mt-8 space-y-6 text-gray-700 dark:text-white w-full max-w-md" id="signup_form" method="post" action="{% url 'account_login' %}">
      {% csrf_token %}

      {{ form|crispy }}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <p class="mt-2 text-lg text-gray-700">
        <a href="{% url 'account_reset_password' %}" class="font-medium text-gray-700 hover:text-gray-700">
          {% trans "Forgot Password?" %}
        </a>
      </p>
      <div>
          <button 
                  class="relative flex justify-center w-full px-4 py-2 text-lg font-medium text-white bg-gray-700   border border-transparent border-solid rounded-md group hover:bg-gray-500">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <svg class="w-5 h-5 text-white-500 group-hover:text-white-400"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                      <path fill-rule="evenodd"
                            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                            clip-rule="evenodd"/>
                  </svg>
              </span>
              {% trans "Sign In" %}
          </button>
      </div>
      </form>
  </div>
{% endblock content %}



