
{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block content %}
    <div class="w-full max-w-md mx-auto px-4 py-2">
      <h1 class="mt-6 text-2xl font-extrabold text-center text-gray-700 dark:text-white">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
      {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p class="mt-6 text-lg text-center text-gray-700 dark:text-white">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
          <form  class="mt-8 space-y-6" method="POST" action="{{ action_url }}">
              {% csrf_token %}
              {{ form|crispy }}
              <input class="relative flex justify-center w-full px-4 py-2 text-lg font-medium text-white bg-gray-700   border border-transparent border-solid rounded-md group hover:bg-gray-500" type="submit" name="action" value="{% trans 'change password' %}"/>
          </form>
      {% endif %}
    </div>
{% endblock content %}
{% comment %} 

{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}
{% endblock %} {% endcomment %}
