

{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block content %}
<div class="w-full max-w-screen-md mx-auto px-4 py-2">
      <h1 class="mt-6 text-2xl font-extrabold text-center text-gray-700 dark:text-white">{% trans "Sign Up Closed" %}</h1>
      <p class="mt-6 text-lg text-center text-gray-700 dark:text-white">{% trans "We are sorry, but the sign up is currently closed." %}</p>
</div>
{% endblock content %}





{% comment %} 
{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up Closed" %}</h1>

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
{% endblock %} {% endcomment %}
