{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Create your account" %}{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
  <!-- <div class="flex flex-col justify-center min- py- sm:px-6 lg:px-8"> -->
      <div class="w-full max-w-screen-md mx-auto px-4 py-2">
        <div>
            <h2 class="mt-6 text-2xl font-extrabold text-center text-gray-700 dark:text-white">
                {% trans "Create your account" %}
            </h2>
            <p class="mt-2 text-lg text-center text-gray-700 dark:text-white">
              Already have an account?
              <a href="{% url 'account_login' %}" class="font-medium text-blue-500 hover:text-blue-700 ml-2">
                Log In
              </a>
          </p>
        </div>
        <form class="mt-8 space-y-6 w-full max-w-md mx-auto" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}

          {{ form|crispy }}

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <div>
              <button type="submit"
                      class="relative flex justify-center w-full px-4 py-2 text-lg font-medium text-white bg-gray-700   border border-transparent border-solid rounded-md group hover:bg-gray-500">
                  <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                      <svg class="w-5 h-5 text-white-500 group-hover:text-white-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true">
                          <path fill-rule="evenodd"
                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                clip-rule="evenodd"/>
                      </svg>
                  </span>
                  Sign up
              </button>
          </div>
        </form>
      </div>
  <!-- </div> -->
 {% endblock content %}