{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Contact" %}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}


<div class="flex items-center justify-center px-4 py-12 my-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
      <div>
          <h2 class="mt-6 text-2xl font-extrabold text-center text-gray-900">
              {% trans "Contact us" %}
          </h2>
      </div>
      <form class="mt-8 space-y-6" id="signup_form" method="post">
        {% csrf_token %}
  
        {{ form|crispy }}       
        <div>
            <button type="submit"
                    class="relative flex justify-center w-full relative flex justify-center w-full px-4 py-2 text-lg font-medium text-white bg-gray-700   border border-transparent border-solid rounded-md group hover:bg-gray-500">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <svg class="w-5 h-5 text-white-500 group-hover:text-white-400"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                              clip-rule="evenodd"/>
                    </svg>
                </span>
                {% trans "Envoyer message" %}
            </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}