<footer class="">
    <hr class="my-0 border-slate-200 border-slate-200" />
    <div class="max-w-screen-lg py-8 mx-auto">
        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
            <p class="text-sm text-gray-700 dark:text-gray-200 dark:hover:text-blue-400 hover:text-blue-500">Copyright ©2024 ICOMPETI</p>

            <div class="flex mt-3 -mx-2 sm:mt-0">
                <a href="#" class="mx-2 text-sm text-gray-700 dark:text-gray-200 transition-colors duration-300 dark:hover:text-blue-400 hover:text-blue-500" aria-label="Reddit"> Privacy</a>
                <a href="#" class="mx-2 text-sm text-gray-700 dark:text-gray-200 transition-colors duration-300 dark:hover:text-blue-400 hover:text-blue-500" aria-label="Reddit"> Terms </a>
            </div>
        </div>
 </footer>
